<!-- Inicio Novedades modificar -->
<article class="bg-gradient-gray-white" bt-0>
  <section class="container novedades-modificar" style="margin 100px auto">
    <div class="row">
      <div class="col-6 offset-3">
        <br />
        <h3>Modificar novedades</h3>
        <form method="post" action="/admin/novedades/modificar"
           enctype="multipart/form-data">
          <input type="hidden" value="{{novedad.id}}" name="id">

          <div class="form-group">
            <input type="text" placeholder="Nombre del comercio"
              value="{{novedad.nombre}}" class="form-control" name="nombre"/>
          </div>
          <br />

          <div class="form-group">
            <textarea placeholder="Direccion y teléfono"
              class="form-control" name="direccion">{{novedad.direccion}}</textarea>
          </div>
          <br />

          <div class="form-group">
            <textarea placeholder="Detalles"
              class="form-control" name="detalles">{{novedad.detalles}}</textarea>
          </div>
          <br />

          <div class="form-group">
            <p>
              <label>Imagen: <input type="file" name="imagen" id="imagen/" />
              </label>
            </p>
            <p>
              <label><input
                  type="checkbox"
                  name="img_delete"
                  id="img_delete"
                  value="1"
                />
                ¿Desea eliminar la imagen actual?</label>
              <input
                type="hidden"
                name="img_original"
                value="{{novedad.img_id}}"
              />
            </p>
          </div>
          <br />
          <button type="submit" class="btn btn-lg btn-primary">MODIFICAR</button>
        </form>
        <br>
        {{#if error}}
          <h5>{{message}}</h5>
        {{/if}}
      </div>
    </div>
  </section>
</article>
<!-- FIN Novedades modificar -->