<div id="inicio" class="scroll_section">
  <!-- INICIO ID Carousel Inicio -->
  <div
    id="carouselExampleInicio"
    class="carousel slide"
    data-bs-ride="carousel"
  >

    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleInicio"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleInicio"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleInicio"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="images/header-0.png"
          class="d-block w-100"
          alt="header-0"
          data-interval="1000"
        />
      </div>
      <div class="carousel-item">
        <img
          src="images/header-1.png"
          class="d-block w-100"
          alt="header-1"
          data-interval="1000"
        />
      </div>
      <div class="carousel-item">
        <img
          src="images/header-2.png"
          class="d-block w-100"
          alt="header-2"
          data-interval="1000"
        />
      </div>
    </div>

    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleInicio"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>

    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleInicio"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

  </div>
</div>
<!-- FIN ID Carousel Inicio -->
<!-- INICIO HIPERTERMAL -->
<div
  id="hipertermal"
  class="container-fluid row align-items-center scroll_section">
  <img src="images/hipertermal.png" class="d-block w-100" alt="hipertermal" />
</div>
<!-- FIN HIPERTERMAL -->

<section id="productos" class="scroll_section">
  <div id="carouselproductos" class="carousel slide carousel-fade">
    <!-- INICIO ID Carousel PRODUCTOS -->
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselproductos"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselproductos"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="images/cerveza-rubia.jpg"
          class="d-block w-100"
          alt="cerveza-rubia"
        />
        <div class="carousel-caption d-none d-md-block">
          <h1>CERVEZA RUBIA</h1>
          <h3>Tipo PILSEN</h3>
          <p>AROMA: Especiadas, florales, y gusto a cereal.<br />
            ASPECTO: Dorado con espuma blanca duradera.<br />
            SABOR: Complejos de maltas, y un amargor suave.<br />
            ALCOHOL: 4,9 %.
          </p>
        </div>
      </div>

      <div class="carousel-item">
        <img
          src="images/cerveza-negra.jpg"
          class="d-block w-100"
          alt="cerveza-negra"
        />
        <div class="carousel-caption d-none d-md-block">
          <h1>CERVEZA NEGRA</h1>
          <h3>Estilo Irish Red Ale</h3>
          <p>AROMAS: Frutos secos, caramelo y tostado.<br />
            ASPECTO: Cobre oscuro y de espuma ligera.<br />
            SABOR: Malteado tostado, un final amargo.<br />
            ALCOHOL: 8,7 %.
          </p>
        </div>
      </div>
    </div>

    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselproductos"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>

    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselproductos"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

  </div>
  <!-- FIN ID Carousel PRODUCTOS -->
</section>

<div class="container-fluid">
  <!--  INICIO div CONTAINER HOME -->

  <div class="row my-3">
    <!-- INICIO ROW NOVEDADES & TESTIMONIOS-->
    <div id="novedades" class="col-md-5 offset-md-2 py-3 scroll_section">
      <!-- INICIO id NOVEDADES -->
      <h4>Novedades | Distribuidores</h4>
      <ul class="lista-novedades">
        {{#each novedades}}
          <li><a href="#" data-bs-toggle="modal" data-bs-target="#modal{{ id }}">
              <img src="{{imagen}}" width="120" />{{nombre}}</a>
          </li>
        {{/each}}
      </ul>
    </div>
    <!-- FIN id NOVEDADES -->

    <!-- Inicio Modal NOVEDADES-->
    {{#each novedades}}
      <div
        class="modal fade"
        id="modal{{id}}"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <!--INICIO div modal dialog-->
          <div class="modal-content">
            <!--INICIO div modal content-->
            <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLabel">{{nombre}}</h4>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              >
              </button>
            </div>

            <div class="modal-body">
              <h5>{{ direccion }}</h5>
              <img src="{{ imagen }}">
              <p>{{ detalles }}</p>
            </div>

          </div>
          <!--FIN div modal content-->
        </div>
        <!--FIN div modal dialog-->
      </div>
      <!-- Fin Modal NOVEDADES -->
    {{/each}}

    <!-- Inicio div TESTIMONIO -->
    <div class="col-md-3 my-3">
      <div class="rounded py-5 testimonios scroll_section">
        <h3 class="text-center">Testimonios</h3>
        <div
          id="carouselExampleTestimonio"
          class="carousel slide"
          data-bs-ride="true"
        >

          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleTestimonio"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleTestimonio"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleTestimonio"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
          </div>

          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="testimonio">
                <h5><i>Sorprendente y suave al paladar!</i></h5>
                <p>Andrea, Mendoza</p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="testimonio">
                <h5><i>La mejor cerveza del país!</i></h5>
                <p>Sergio, Córdoba</p>
              </div>
            </div>

            <div class="carousel-item">
              <div class="testimonio">
                <h5><i>Excelente cerveza, la recomiendo!</i></h5>
                <p>Kevin, Jujuy</p>
              </div>
            </div>
          </div>

          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleTestimonio"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>

          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleTestimonio"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>

        </div>
      </div>
    </div>
    <!--FIN div TESTIMONIO-->
  </div>
  <!-- FIN ROW NOVEDADES & TESTIMONIOS -->

  <!-- ● align-items-center: realiza el centrado vertical de los elementos dentro del contenedor.
      ● py-4: se encarga de aplicar un padding vertical al elemento
      ● offset-lg-2: desplaza la columna en la cual debería aparecer un elemento
      ● d-none: define la visibilidad del elemento en none
      ● d-sm-block: define la visibilidad del elemento en el breakpoint sm de Bootstrap.
      ● img-fluid: se utiliza para que las imágenes se comporten de forma “elástica”, 
      achicandose si fuera necesario para adaptarse a resoluciones menores. -->

  <!-- Inicio div HISTORIA -->
  <div id="historia" class="row align-items-center py-3 scroll_section">
    <div class="col-lg-2 col-md-3 offset-lg-2 d-none d-sm-block">
      <img src="images/historia1.png" alt="historia1" class="img-fluid" />
    </div>
    <div class="col-lg-2 col-md-3 d-none d-sm-block">
      <img src="images/historia2.png" alt="historia2" class="img-fluid" />
    </div>

    <div class="col-lg-4 col-md-6 mt-4 mt-sm-0">
      <h3>Historia</h3>
      <p>Emprendimiento familiar apasionado por la cerveza de elaboración
        artesanal.
        <br /><br />
        Somos la
        <i>unica</i>
        fábrica de cerveza en Argentina que contiene agua 100% hipertermal de
        las Termas de la ciudad de Rosario de la Frontera (Provincia de Salta -
        Argentina).</p>
    </div>
  </div>
  <!-- FIN div HISTORIA -->

  <!-- INICIO div SERVICIOS -->
  <div
    id="servicios"
    class="row align-items-stretch my-2 servicios py-4 scroll_section"
  >

    <div class="col-lg-8 offset-lg-2">
      <h3>Servicios</h3>
      <div class="row row-cols-1 row-cols-md-4 g-4">

        <div class="col">
          <div class="card"><img
              src="images/Servicios1.png"
              class="card-img-top"
              alt="servicios1"
            />
            <div class="card-body">
              <h5 class="card-title text-center">Marca Blanca</h5>
              <p class="card-text">Comprá lotes de botellas con etiquetas
                personalizadas.</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card"><img
              src="images/Servicios2.png"
              class="card-img-top"
              alt="servicios2"
            />
            <div class="card-body">
              <h5 class="card-title text-center">Fábrica</h5>
              <p class="card-text">Solicitá visitas guiadas para instituciones y
                grupos turísticos.</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card"><img
              src="images/Servicios3.png"
              class="card-img-top"
              alt="servicios3"
            />
            <div class="card-body">
              <h5 class="card-title text-center">Eventos</h5>
              <p class="card-text">Alquiler de Chopperas con delivery y barras
                para eventos.</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card"><img
              src="images/Servicios4.png"
              class="card-img-top"
              alt="servicios4"
            />
            <div class="card-body">
              <h5 class="card-title text-center">Point's</h5>
              <p class="card-text">Sumate a la red de "point's" para vender
                Cerveza ROSARIO.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- FIN div SERVICIOS -->

  <div id="conocenos" class="row py-4 scroll_section scroll_section">
    <!--Inicio div id="CONOCENOS" mapa + formulario-->
    <div class="col-md-4 offset-md-2">
      <!-- Inicio div CONOCENOS -->
      <h3>Conocenos</h3>
      <small>Alvarado 360. Bº Centro. Rosario de la Frontera (Salta)</small>
      <br /><br />
      <div class="mapa">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3592.1329180086946!2d-64.97694722589605!3d-25.79918864759914!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x941850e8f7d67c23%3A0x11051f71c9f71473!2sAlvarado%20360%2C%20A4190CKH%20Rosario%20de%20la%20Frontera%2C%20Salta!5e0!3m2!1ses-419!2sar!4v1685415547069!5m2!1ses-419!2sar"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        > </iframe>
      </div>
    </div>
    <!--Fin div CONOCENOS -->

    <!-- Inicio div CONTACTO -->
    <div class="col-md-4 mt-4 mt-sm-0">
      <h3>Contactanos</h3>
      <form class="row g-2" action="/" method="post">

        <div class="col-md-6">
          <label for="nombre" class="form-label"></label>
          <input
            type="text"
            class="form-control"
            id="nombre"
            name="nombre"
            placeholder="Nombre"
          />
        </div>

        <div class="col-md-6">
          <label for="apellido" class="form-label"></label>
          <input
            type="text"
            class="form-control"
            id="apellido"
            name="apellido"
            placeholder="Apellido"
          />
        </div>

        <div class="col-12">
          <label for="email" class="form-label"></label>
          <input
            type="text"
            class="form-control"
            id="email"
            name="email"
            id="email"
            placeholder="Ingrese su email@"
          />
        </div>

        <div class="col-12">
          <label for="tel" class="form-label"></label>
          <input
            type="tel"
            class="form-control"
            id="tel"
            name="tel"
            required
            placeholder="Teléfono"
          />
        </div>

        <div class="col-12">
          <label for="mensaje" class="form-label"></label>
          <textarea
            class="form-control"
            name="mensaje"
            id="mensaje"
            rows="3"
            placeholder="Mensaje..."
            required
          ></textarea>
        </div>

        <div class="col-12">
          <button type="submit" class="btn btn-lg btn-primary">ENVIAR</button>
        </div>

      </form>

      <p>{{message}}</p>

    </div>
    <!-- Fin div CONTACTO -->
  </div>
  <!--Inicio div id="CONOCENOS" mapa + formulario-->
</div>
<!-- FIN div CONTAINER HOME-->